@import url("reset.css");
@font-face {
  font-family: 'Lato-Regular';
  src: url("../font/Lato-Regular.ttf");
}

body {
  background-color: #f3f6fa;
  font-size: 16px;
  font-family: "Lato-Regular";
  color: grey;
  width: 100vw;
}

.page {
  margin: auto;
  width: 80%;
  height: auto;
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

a, .mail {
  color: #83d3c9;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.burgerMenu {
  padding-left: 20px;
  padding-top: 20px;
}

.burgerMenu .burger {
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid currentColor;
  width: 28px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}

.burgerMenu .burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.burgerMenu .burger:before {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burgerMenu .burger:after {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burgerMenu .burger-check {
  display: none;
}

.burgerMenu .burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}

.burgerMenu .burger-check:checked ~ .burger:before {
  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burgerMenu .burger-check:checked ~ .burger:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burgerMenu .navigation {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.burgerMenu .burger-check:checked ~ .navigation {
  max-height: 500px;
  transition: max-height 0.5s ease-in-out;
}

.burgerMenu body {
  background-color: floralwhite;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 30px;
  text-align: centeR;
}

.burgerMenu a {
  color: inherit;
}

.burgerMenu small {
  font-size: 14px;
}

.burgerMenu ul {
  margin: 0;
  padding: 0;
}

.burgerMenu li {
  list-style: none;
  font-size: 25px;
  padding: 5px 0;
}

.burgerMenu li a {
  text-decoration: none;
}

.burgerMenu li a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  .burgerMenu {
    display: none;
  }
}

#navigation {
  width: 100%;
  height: 10vh;
  display: inline-block;
  padding-top: 3%;
  padding-left: 2%;
}

#navigation h1 {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}

#navigation nav {
  display: inline-block;
  width: 70%;
  margin-left: 5%;
}

#navigation nav ul {
  margin-left: 70%;
  display: -moz-inline-box;
}

#navigation nav ul li {
  display: inline-block;
  width: 50%;
  padding-right: 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  #navigation {
    display: none;
  }
}

header {
  height: 85vh;
  text-align: center;
  padding-top: 20vh;
}

header svg {
  width: 90%;
}

header strong {
  color: #eba3ae;
}

@media screen and (min-width: 580px) {
  header svg {
    width: 30%;
  }
}

.container_content p {
  line-height: 1.7;
  text-align: left;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.container_content h2 {
  text-align: center;
  margin: 5px 0 35px 0;
}

.container_content strong {
  font-weight: bold;
}

.container_content ul {
  margin-bottom: 1em;
  line-height: 1.7;
}

.container_content .boutique {
  background-color: #bcf2e9;
  border: 2px solid #47a596;
  box-shadow: 5px 5px #47a596;
  border-radius: 3px;
  margin: 55px 10px;
  padding: 35px;
}

.container_content .demarche {
  background-color: #ffff7c;
  border: 2px solid #EFC649;
  box-shadow: 5px 5px #EFC649;
  border-radius: 3px;
  margin: 55px 10px;
  padding: 35px;
}

.container_content .troisBlock img {
  width: 100%;
}

.container_content .troisBlock h3 {
  margin: 1em 0;
}

@media screen and (min-width: 840px) {
  .troisBlock {
    display: flex;
  }
  .block {
    margin: 2%;
  }
}

.moreInfo {
  background-color: white;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.moreInfo .container_info {
  width: 80%;
  margin: auto;
}

.moreInfo .container_info p {
  margin-bottom: 1em;
  line-height: 1.5;
  text-align: left;
}

.moreInfo .container_info h3 {
  margin: 1em 0;
}

.moreInfo .container_info h4 {
  margin: 1em 0;
  color: #eba3ae;
}

.moreInfo .container_info .block img {
  width: 100%;
  margin: auto;
}

.moreInfo .container_info .block ul {
  list-style-type: none;
}

.moreInfo .container_info .block ul li {
  line-height: 1.5;
}

@media screen and (min-width: 840px) {
  .container_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 3%;
  }
}

.contact {
  text-align: center;
}

.contact .infoContact {
  padding-bottom: 20px;
  line-height: 25px;
}

.contact input {
  width: 100%;
  height: 5vh;
  margin-bottom: 20px;
}

.contact textarea {
  width: 100%;
  height: 12vh;
}

.contact .formContact p {
  text-align: left;
  padding-bottom: 5px;
}

p {
  text-align: center;
}

footer div {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */