@import url("reset.css");
@font-face {
  font-family: 'Lato-Regular';
  src: url("../font/Lato-Regular.ttf");
}

body {
  background-color: #f6ffff;
  font-size: 16px;
  font-family: "Lato-Regular";
  color: #3d3d3d;
  width: 100vw;
}

.page {
  margin: auto;
  width: 85%;
  height: auto;
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

a, .mail {
  color: #83d3c9;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.burgerMenu {
  padding-left: 20px;
  padding-top: 20px;
}

.burgerMenu .burger {
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid currentColor;
  width: 28px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}

.burgerMenu .burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.burgerMenu .burger:before {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burgerMenu .burger:after {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burgerMenu .burger-check {
  display: none;
}

.burgerMenu .burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}

.burgerMenu .burger-check:checked ~ .burger:before {
  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burgerMenu .burger-check:checked ~ .burger:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burgerMenu .navigation {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.burgerMenu .burger-check:checked ~ .navigation {
  max-height: 500px;
  transition: max-height 0.5s ease-in-out;
}

.burgerMenu body {
  background-color: floralwhite;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 30px;
  text-align: centeR;
}

.burgerMenu a {
  color: inherit;
}

.burgerMenu small {
  font-size: 14px;
}

.burgerMenu ul {
  margin: 0;
  padding: 0;
}

.burgerMenu li {
  list-style: none;
  font-size: 25px;
  padding: 5px 0;
}

.burgerMenu li a {
  text-decoration: none;
}

.burgerMenu li a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  .burgerMenu {
    display: none;
  }
}

#navigation {
  width: 100%;
  height: 10vh;
  display: inline-block;
  padding-top: 3%;
  padding-left: 2%;
}

#navigation h1 {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}

#navigation h1 strong {
  font-size: 5em;
  color: #dd7284;
}

#navigation nav {
  display: inline-block;
  width: 70%;
  margin-left: 5%;
}

#navigation nav ul {
  margin-left: 70%;
  display: -moz-inline-box;
}

#navigation nav ul li {
  display: inline-block;
  width: 50%;
  padding-right: 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  #navigation {
    display: none;
  }
}

header {
  height: 85vh;
  text-align: center;
  padding-top: 20vh;
}

header img {
  width: 90%;
}

header strong {
  color: #eba3ae;
}

@media screen and (min-width: 580px) {
  header img {
    width: 30%;
  }
}

.container_content {
  background-color: #f6ffff;
}

.container_content p {
  line-height: 1.7;
  text-align: left;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.container_content h2 {
  text-align: center;
  margin: 5px 0 35px 0;
  padding-bottom: 10px;
}

.container_content ul {
  margin-bottom: 1em;
  line-height: 1.7;
}

.container_content .boutique {
  background-color: #bcf2e9;
  border: 2px solid #47a596;
  box-shadow: 5px 5px #47a596;
  border-radius: 3px;
  margin: 55px auto;
  padding: 35px;
  max-width: 1000px;
  width: 95%;
}

.container_content .boutique strong {
  background-color: #47a596;
  color: #d8f7f2;
  border-radius: 3px;
  padding: 0 5px;
}

.container_content .boutique h2 {
  color: #47a596;
  border-bottom: 4px solid #47a596;
}

.container_content .demarche {
  background-color: #fcfc9c;
  border: 2px solid #d4a61a;
  box-shadow: 5px 5px #d4a61a;
  border-radius: 3px;
  margin: 55px auto 200px;
  padding: 35px;
  max-width: 1000px;
  width: 95%;
}

.container_content .demarche strong {
  background-color: #d4a61a;
  color: #ffffd6;
  border-radius: 3px;
  padding: 0 5px;
}

.container_content .demarche h2 {
  color: #d4a61a;
  border-bottom: 4px solid #d4a61a;
}

.container_content .troisBlock {
  background-color: #f5bac6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='82' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f0f0f0' fill-opacity='0.25'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 200px 20px;
  border-bottom: 13px solid #ffd4df;
  margin-bottom: 100px;
}

.container_content .troisBlock .block {
  background-color: #f6ffff;
  padding: 20px;
  margin-top: 40px;
  border-radius: 5px;
}

.container_content .troisBlock .block .rondA {
  width: 20px;
  height: 20px;
  background-color: #bcf2e9;
  border: 2px solid #47a596;
  border-radius: 15px;
  box-shadow: 2px 2px #47a596;
  display: inline-block;
  margin: 0 8px;
}

.container_content .troisBlock .block .rondA .ligne1 {
  height: 12px;
  width: 0px;
  border-left: 1px solid #47a596;
  border-right: 1px solid #47a596;
  margin: auto;
  position: relative;
  top: 2px;
}

.container_content .troisBlock .block .rondA .ligne2 {
  height: Opx;
  width: 12px;
  border-top: 1px solid #47a596;
  border-bottom: 1px solid #47a596;
  margin: auto;
  position: relative;
  top: -5px;
}

.container_content .troisBlock .block .rondB {
  width: 20px;
  height: 20px;
  background-color: #fcfc9c;
  border: 2px solid #d4a61a;
  border-radius: 15px;
  box-shadow: 2px 2px #d4a61a;
  display: inline-block;
  margin: 0 8px;
}

.container_content .troisBlock .block .rondB .ligne1 {
  height: 12px;
  width: 0px;
  border-left: 1px solid #d4a61a;
  border-right: 1px solid #d4a61a;
  margin: auto;
  position: relative;
  top: 2px;
}

.container_content .troisBlock .block .rondB .ligne2 {
  height: Opx;
  width: 12px;
  border-top: 1px solid #d4a61a;
  border-bottom: 1px solid #d4a61a;
  margin: auto;
  position: relative;
  top: -5px;
}

.container_content .troisBlock .block .rondC {
  width: 20px;
  height: 20px;
  background-color: #f5bac6;
  border: 2px solid #dd7284;
  border-radius: 15px;
  box-shadow: 2px 2px #dd7284;
  display: inline-block;
  margin: 0 8px;
}

.container_content .troisBlock .block .ligne5 {
  height: 12px;
  width: 0px;
  border-left: 1px solid #dd7284;
  border-right: 1px solid #dd7284;
  margin: auto;
  position: relative;
  top: 2px;
}

.container_content .troisBlock .block .ligne6 {
  height: Opx;
  width: 12px;
  border-top: 1px solid #dd7284;
  border-bottom: 1px solid #dd7284;
  margin: auto;
  position: relative;
  top: -5px;
}

.container_content .troisBlock .block .liste {
  display: inline;
  margin-left: 8px;
}

.container_content .troisBlock .depot {
  border: 5px solid gray;
}

.container_content .troisBlock .depot h3 {
  color: gray;
  border-bottom: 5px solid gray;
}

.container_content .troisBlock img {
  width: 100%;
  border: 2px solid #afafaf;
  box-shadow: 5px 5px #afafaf;
  border-radius: 3px;
}

.container_content .troisBlock h3 {
  margin: 2em 0;
  padding-bottom: 10px;
  border-bottom: 5px solid #afafaf;
  color: #afafaf;
  font-size: 1.5em;
}

@media screen and (min-width: 840px) {
  .troisBlock {
    display: flex;
  }
  .block {
    margin: 1.5rem;
  }
  .marque {
    position: relative;
    top: 80px;
  }
  .boutiquesmall {
    position: relative;
    top: -80px;
  }
  .depot {
    position: relative;
    top: -80px;
  }
}

.moreInfo {
  background-color: white;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.moreInfo .container_info {
  margin: auto;
}

.moreInfo .container_info p {
  margin-bottom: 1em;
  line-height: 1.5;
  text-align: left;
}

.moreInfo .container_info h3 {
  margin: 1em 0;
}

.moreInfo .container_info h4 {
  margin: 1em 0;
  color: #eba3ae;
}

.moreInfo .container_info .block img {
  width: 100%;
  margin: auto;
}

.moreInfo .container_info .block ul {
  list-style-type: none;
}

.moreInfo .container_info .block ul li {
  line-height: 1.5;
}

@media screen and (min-width: 840px) {
  .container_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 3%;
  }
}

.contact {
  width: 90%;
  text-align: center;
  margin: auto;
}

.contact .infoContact {
  padding-bottom: 20px;
  line-height: 25px;
}

.contact input {
  width: 100%;
  height: 5vh;
  margin-bottom: 20px;
}

.contact textarea {
  width: 100%;
  height: 12vh;
}

.contact .formContact p {
  text-align: left;
  padding-bottom: 5px;
}

p {
  text-align: center;
}

footer div {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */