.container_content {
   
    p {
        line-height: 1.5;
        text-align: left;
        margin-bottom: 1em;
    }

    ul {
        margin-bottom: 1em;
        line-height: 1.5;
    }

    .boutique {
        background-color: $primaryColor;

        

        h2 {
            text-align: center;
        }
        
    }
    
    .demarche {
        background-color: $accentColor;

        h2 {
            text-align: center;
        }
        
    }
    
    .troisBlock {
        img {
            width: 100%;
        }
        
        h3 {
           margin: 1em 0;
        }
    }
}

@media screen and (min-width: 840px) {
    .troisBlock {
        display : flex;
    }
    .block {
        margin: 2%;
    }
}