.container_content {
   
    p {
        line-height: 1.5;
        text-align: left;
        margin-bottom: 1em;
    }

    ul {
        margin-bottom: 1em;
        line-height: 1.5;
    }

    .boutique {
        background-color: #a8d8d0,
        
    }
    
    .demarche {
        background-color: #EFC649;
    }
    
    .troisBlock {
        img {
            width: 100%;
        }
        
        h3 {
           margin: 1em 0;
        }
    }
}

