.container_content {
   
    p {
        line-height: 1.7;
        text-align: left;
        margin-bottom: 1em;
        font-size: 1.2em;
    }

    h2 {
        text-align: center;
        margin: 5px 0 35px 0;
    }

    strong {
        background-color: #47a596;
        color: #bcf2e9;
    }

    ul {
        margin-bottom: 1em;
        line-height: 1.7;
    }

    .boutique {
        background-color: #bcf2e9;
        border: 2px solid #47a596;
        box-shadow: 5px 5px #47a596;
        border-radius: 3px;
        margin: 55px 10px;
        padding: 35px;

        
    }
    
    .demarche {
        background-color: #ffff7c;
        border: 2px solid $accentColor;
        box-shadow: 5px 5px $accentColor;
        border-radius: 3px;
        margin: 55px 10px;
        padding: 35px;

       
        
    }
    
    .troisBlock {
        img {
            width: 100%;
        }
        
        h3 {
           margin: 1em 0;
        }
    }
}

@media screen and (min-width: 840px) {
    .troisBlock {
        display : flex;
    }
    .block {
        margin: 2%;
    }
}