p {
    text-align: center;
    padding-bottom: 20px;
}

footer {
    .social {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;

        div {
            display: inline-block;
            width: 33%;
            text-align: center;
            margin: auto;
        }

    }
}