//FONT-FACE//

@font-face {
    font-family: 'Lato-Regular';
    src: url("../font/Lato-Regular.ttf");
}

//VARIABLE - CHARTE GRAPHIQUE//

$backgroundColor: #f3f6fa;
$primaryColor: #a8d8d0;
$secondaryColor: #eba3ae;
$lightColor: white;
$buttonColor: #83d3c9;
$accentColor: #EFC649;

$fontColor: grey;

$fontFamilyBase: 'Lato-Regular';







// CSS GLOBAL //

body {
    background-color: $backgroundColor;
    font-size: 16px;
    font-family: $fontFamilyBase;
    color: $fontColor;
    width: 100vw;
}

.page {
    margin: auto;
    width: 80%;
    height: auto    ;
}

h1 {
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

a, .mail {
    color: $buttonColor;
    text-decoration: underline;
    text-decoration-style: dotted;
}