//FONT-FACE//

@font-face {
    font-family: 'Lato-Regular';
    src: url("../font/Lato-Regular.ttf");
}

//VARIABLE - CHARTE GRAPHIQUE//

$backgroundColor: #f1f9ff;
$primaryColor: #a8d8d0;
$secondaryColor: #eba3ae;
$lightColor: white;
$linkColor: #83d3c9;
$accentColor: rgb(212, 166, 26);
$bgTroisBlock: #f5bac6;
$bgDemarche: #fcfc9c;
$bgBoutique: #bcf2e9;
$accentBoutique: #47a596;
$accentTroisBlock: rgb(221, 114, 132);

$fontColor: rgb(82, 82, 82);

$fontFamilyBase: 'Lato-Regular';


// CSS GLOBAL //

body {
    background-color: $backgroundColor;
    font-size: 16px;
    font-family: $fontFamilyBase;
    color: $fontColor;
    // width: 100vw;
}

.page {
    margin: auto;
    width: 70%;
    height: auto    ;
}

h1 {
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

a, .mail {
    color: $linkColor;
    text-decoration: underline;
    text-decoration-style: dotted;
    &:hover{
        color:$secondaryColor;
    }
}

ul li {
    display: block;
}

@media screen and (max-width: 840px) { 
    .page {
        width: 98%;
    }
}