header {
    height: 85vh;
    text-align: center;
    padding-top: 20vh;
    img {
        width: 90%;
    }
    strong {
        color: $secondaryColor;
    }
}

@media screen and (min-width: 580px) {
    header {
        img {
            width: 45%;
        }
   }
}