header {
    height: 90vh;
    text-align: center;
    padding-top: 20vh;
    img {
        width: 90%;
    }
    strong {
        color: $secondaryColor;
        font-size: 120%;
    }
}

@media screen and (min-width: 580px) {
    header {
        img {
            width: 45%;
        }
    }
}