header {
    height: 94vh;
    text-align: center;
    padding-top: 30vh;
    img {
        width: 90%;
    }
    strong {
        color: $secondaryColor;
        font-size: 120%;
    }
}

//PARTICULE
canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

/* ---- particles.js container ---- */

#particles-js {
    background-repeat: no-repeat;
}

//Responsive mod

@media screen and (min-width: 640px) {
    header {
        img {
            width: 40%;
        }
        canvas {
            z-index: 0;
        }
    }
}

