.moreInfo {
    background-color: $lightColor;
    padding-bottom: 20px;
    margin-bottom: 20px;
    .container_info {
        width: 80%;
        margin: auto;
        p {
            margin-bottom: 1em;
            line-height: 1.5;
            text-align: left
        }
        
        h3 {
            margin: 1em 0;
        }
        
        h4 {
            margin: 1em 0;
            color: $secondaryColor;
        }
        
        .block {
            img {
                width: 100%;
                margin: auto;
            }
            ul {
                list-style-type: none;
                li {
                    line-height: 1.5;
                }
            }
        }
        
    }
   
}

