#navigation {
    width: 100%;
    height: 10vh;
    padding-left: 2%;
    h1 {
        width: 20%;
        display: inline-block;
        strong {
            font-size: 5em;
            color: $accentTroisBlock;
        }
    }
    nav {
        display: inline-block;
        width: 500px;
        margin-left: 40%;
        ul {
            text-align: center; // width: 35%;
            li {
                padding: 20px; 
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #navigation {
        display: none; // Ne pas afficher cette barre de navigation pour mobile
    }
}

//Animation Soulignement Navigation
@media screen and (min-width: 600px) {
    ul li {
        display: inline;
        text-align: center;
    }
    #navTwoWord:hover~hr {
        margin-left: 18%;
        opacity: 1;
        background: $primaryColor;
    }
    #navDepot:hover~hr {
        margin-left: 41%;
        opacity: 1;
        background: $secondaryColor;
    }
    #navContact:hover~hr {
        margin-left: 63%;
        opacity: 1;
        background: rgb(248, 199, 51);
    }
    hr {
        height: .25rem;
        width: 100px;
        margin: 0;
        background: $primaryColor;
        border: none;
        transition: .3s ease-in-out;
        opacity: 0;
        margin-top: 3px;
    }
}
