#navigation {
    width: 100%;
    height: 10vh;
    padding-left: 2%;
    position: fixed;
    background-color: $backgroundColor;
    z-index: 1;
    h1 {
        width: 13vw;
        display: inline-block;
        strong {
            font-size: 5em;
            color: $accentTroisBlock;
        }
        &:hover {
            color: $primaryColor;
            cursor: pointer;
        }
    }
    nav {
        display: inline-block;
        width: 400px;
        margin-left: 55vw;
        ul {
            text-align: center; 
            li {
                cursor: pointer;
                padding: 20px; 
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (max-width: 840px) {
    #navigation {
        display: none; // Ne pas afficher cette barre de navigation pour mobile
    }
}

@media screen and (max-width: 1300px) {
    #navigation {
        h1 {
            width: 30%;
        }
    }
}

//Animation Soulignement Navigation ( non responsive )

ul li {
    display: inline;
    text-align: center;
}

#navTwoWord:hover~hr {
    margin-left: 10%;
    opacity: 1;
    background: $primaryColor;
}

#navDepot:hover~hr {
    margin-left: 39%;
    opacity: 1;
    background: $secondaryColor;
}

#navContact:hover~hr {
    margin-left: 67%;
    opacity: 1;
    background: rgb(248, 199, 51);
}

hr {
    height: .25rem;
    width: 100px;
    margin: 0;
    background: $primaryColor;
    border: none;
    transition: .3s ease-in-out;
    opacity: 0;
    margin-top: 3px;
}

